.back_1{
    position: absolute;
    left: 0px;
    width: 662.809509px;
    height: 645.809509px;
top: 1530px;
border: 1px;

}
.back_2{
    position: absolute;
    width: 823.8095092773438px;
    width: 768.809509px;
    height: 560.809509px;
    top: 1650.09521484375px;
    left: 251.571411px;
border: 1px;

}
.back_3{
    position: absolute;
    width: 672.809509px;
    height: 665.809509px;
    top: 1524px;
    left: 589.19043px;
    border: 1px;

}
