.under {
  color: #05b2dc;
}
p {
  padding-top: 40px;
  padding-bottom: 20px;
}
.task {
  width: 397px;
  height: 208px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: left;
}
.ext {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;
}


.circle {
  color: #002d72;
}

.design {
  padding-left: 180px;
  width: 810px;
}
.spacing {
  width: 663px;
  height: 400px;
  margin-left: 70px;
  position: relative;
  bottom: 450px;
}
.design {
  background-image: url("../../assets/images/Rectangle5.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  margin-left: 193px;
  width: 616px;
  margin-top: 10px;
  padding-left: 0px;
}
.thumbnail {
  width: 650px;
  height: 384px;
  
  position: relative;
  margin-top: 61px;
  margin-left: -122px;
  
  
}
.group {
  position: relative;
  width: 50.00000000000019px;
  height: 50.00000000000019px;
  top: -6px;
  left: -674px;
}
.group2 {
  position: relative;
  width: 50px;
  height: 50px;
  left: 502px;
  top: -420px;
}

.feature {
  width: 222px;
  height: 44px;
  border-radius: 7px;
  border: 2px solid #002d72;
  background: linear-gradient(to right,white 50%, #002d72 50% );
  color: white;
  position: relative;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  font-size: 15px;
  cursor: pointer;
}
.feature:hover {
  background-position: left bottom;
}
.feature:hover {
  color: #002d72; 
  
}
.watch {
  padding: 5px;
  text-align: center;
  margin-left: 232px;
  margin-top: -45px;
  border-radius: 24px;
  border: 2px solid #002d72;
  width: 167px;
  height: 44px;
 cursor: pointer;
  background: linear-gradient(to right, #002d72 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}

.watch:hover {
  background-position: left bottom;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px; 
  color: #002d72;
  transition: all .6s ease-out;
 text-decoration: none;
}

.text:hover {
  color: white; 
  
}

.play-button{
  background-image: url('../../assets//images/brokencircle.svg');
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
  text-align: center;
  padding-left: 30px;
}
.play-button:hover{
  background-image: url('../../assets//images//broken_circle_white.svg');
}

