  .contain {
    display: grid;
    grid-template-columns: repeat( 4,200px); 
    grid-template-rows: repeat(2, 200px); 
    gap: 6px; 
    margin-left: 248px;
    margin-top: 130px;
    
    
  }
  
  .box {
    background: #fff;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    height: 90%;
    width: 90%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .top-center{
    height: auto;
    width: 60px;
    margin: 0 auto;
  }
  .user{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.5px;
text-transform: capitalize;
  }
  
  